.graph-stats {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;

  .graph-stat {
    padding: 0.375rem 0.75rem;
    border-radius: 0.75rem;
    background-color: #fff;
    opacity: 0.8;
    text-align: center;
    .title {
      font-size: 0.8em;
    }
    .value {
      font-size: 2em;
    }
  }
}
