.node-list-filter {
  .form-group {
    display: flex;
  }
  .input-group {
    flex: 1 1 auto;
  }
  .query-info-button {
    flex: 1 0;
    margin-left: 0.1875rem;
  }

  .input-group-text {
    padding: 0 !important;
  }
  select.form-control {
    height: 24px !important;
    padding: 0;
    border: 0;
    color: #495057;
    background-color: #e9ecef;
  }
}

.info-icon {
  text-align: right;
  font-size: 1.2em;
  cursor: pointer;
  line-height: 26px;

  &:hover {
    color: #fff;
  }
}

.query-info-container {
  float: right;
}
