.card-body {
  height: 100%;
}

.graph-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.graph-controls {
  position: fixed;
  z-index: 1;
  top: 0.25rem;
  right: 0.25rem;
  background-color: #333;
  color: #ddd;
  padding: 0.25rem;
  opacity: 0.8;
  width: 300px;
}

.graph-info {
  position: fixed;
  z-index: 1;
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0.25rem;
  background-color: #333;
  color: #ddd;
  padding: 0.25rem;
  opacity: 0.85;
  width: 300px;
}

.node-list {
  height: 100%;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;

  .node-list-item {
    cursor: default;
    display: flex;
    flex-direction: row;
  }

  .node-color,
  .node-reachable {
    flex: 0 0 auto;
  }
  .node-color {
    margin-right: 0.75rem;
  }
  .node-reachable {
    margin-left: 0.75rem;
  }

  .node-alias {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .node-reachable {
    display: inline-block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-left: 0.75rem;

    &.yes {
      background-color: #189e18;
    }

    &.no {
      background-color: #9e1818;
    }
  }
}

.links line {
  stroke: #999;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.links line.selected {
  stroke: #338dc9;
  stroke-width: 1px;
  stroke-opacity: 0.5;
  stroke-dasharray: 9, 3;
}

@keyframes dash {
  to {
    stroke-dashoffset: -24;
  }
}

.nodes circle {
  fill: #555;
  stroke: #eee;
  stroke-width: 0.5px;
}

.node-info {
  position: fixed;
  z-index: 1;
  top: 0.25rem;
  bottom: 0.25rem;
  right: 0.25rem;
  background-color: #333;
  color: #ddd;
  padding: 0.25rem;
  opacity: 0.85;
  width: 300px;

  .node-info-title {
    white-space: nowrap;
  }
}

.node-channel-list {
  height: 100%;
  overflow-y: scroll;
  list-style-type: none;
  padding-left: 0;
}

.node-channel {
  margin-bottom: 0.75rem;

  .channel-source-label,
  .channel-target-label {
    font-size: 0.8em;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .channel-source-label {
    float: left;
    text-align: left;
  }
  .channel-target-label {
    float: right;
    text-align: right;
  }
  .channel-capacity {
    margin-top: -0.4rem;
    text-align: center;
    font-size: 0.8em;
  }
  .channel-viz {
    line {
      stroke: #338dc9;
      stroke-width: 1px;
      stroke-opacity: 0.5;
      stroke-dasharray: 9, 3;
    }
  }
}
