// components
@import './graph/_graph.scss';
@import './graph/_graph-controls.scss';
@import './graph/_graph-stats.scss';
@import './graph/_node-list.scss';
@import './graph/_node-list-filter.scss';
@import './graph/_node-list-summary.scss';
@import './graph/_query-info.scss';
@import './graph/_node-info.scss';

// general
.card-body {
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
}
